<header>
  <div class="header-title">
    <h6>
      Conditions in <%= @condition.zip_code %> on <%= format_date(@condition.date) %>
    <h6>
  </div>
</header>

<div class="card-container">
  <div class="card-info">
    <span><h5>Max Temperature: </h5><h6><%= @condition.max_temperature_f %>°</h6></span>
    <span><h5>Mean Temperature: </h5><h6><%= @condition.mean_temperature_f %>°</h6></span>
    <span><h5>Min Temperature: </h5><h6><%= @condition.min_temperature_f %>°</h6></span>
    <span><h5>Mean Humidity: </h5><h6><%= @condition.mean_humidity %></h6></span>
    <span><h5>Mean Visibility (in Miles): </h5><h6><%= @condition.mean_visibility_miles %></h6></span>
    <span><h5>Mean Wind Speed (mph): </h5><h6> <%= @condition.mean_wind_speed_mph %></h6></span>
    <span><h5>Precipitation (inches): </h5><h6> <%= @condition.precipitation_inches %></h6></span>
    <% if current_admin? %>
      <div class="card-buttons">
        <%= link_to '<i class="fas fa-edit"></i> Edit Condition'.html_safe, edit_admin_condition_path(@condition) %>
        <%= link_to '<i class="fas fa-trash-alt"></i> Delete Condition'.html_safe, admin_condition_path(@condition), method: :delete, data: { confirm: "Are you sure? You will permanently delete this condition."} %>
      </div>
    <% end %>
  </div>
</div>
