<header>
  <div class="header-title">
    <h6>
      Trip #<%= @trip.id %> starting <%= format_date(@trip.start_date) %>
    <h6>
  </div>
</header>

<div class="card-container">
  <div class="card-info">
    <span><h5>Duration:</h5><h6><%= @trip.duration %></h6></span>
    <span><h5>Start Station Name: </h5><h6><%= @trip.start_station_name %></h6></span>
    <span><h5>Start Station ID: </h5><h6><%= @trip.start_station_id %></h6></span>
    <span><h5>End Date: </h5><h6><%= format_date(@trip.end_date) %></h6></span>
    <span><h5>End Station Name: </h5><h6><%= @trip.end_station_name %></h6></span>
    <span><h5>End Station ID: </h5><h6><%= @trip.end_station_id %></h6></span>
    <span><h5>Bike ID: </h5><h6><%= @trip.bike_id %></h6></span>
    <span><h5>Subscription Type: </h5><h6><%= @trip.subscription_type %></h6></span>
    <span><h5>Zip Code: </h5><h6><%= @trip.zip_code %></h6></span>
    <% if current_admin? %>
      <div class="card-buttons">
        <%= link_to '<i class="fas fa-edit"></i> Edit Trip'.html_safe, edit_admin_trip_path(@trip) %>
        <%= link_to '<i class="fas fa-trash-alt"></i> Delete Trip'.html_safe, admin_trip_path(@trip), method: :delete, data: { confirm: "Are you sure? You will permanently delete this trip."} %>
      </div>
    <% end %>
  </div>
</div>
