<header>
  <div class="header-title">
    <h6>
      <%= @station.name %>
  </div>
</header>
<main>
  <div class="card-container">
    <div class="card-info">
      <h3>Dock Count: </h3><p><%= @station.dock_count %></p>
      <h3>City: </h3><p><%= @station.city %></p>
      <h3>Installation Date: </h3><p><%= format_date(@station.installation_date) %></p>
      <h3>Latitude: </h3><p><%= @station.lat %>°</p>
      <h3>Longitude: </h3><p><%= @station.long %>°</p>
      <% if current_admin? %>
          <div class="card-buttons">
            <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_admin_station_path(@station) %>
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, admin_station_path(@station), method: :delete, data: { confirm: "Are you sure? You will permanently delete this station."} %>
          </div>
      <% end %>
    </div>
  </div>
</main>
