<% @accessories.each do |accessory| %>
  <%= accessory.title %>
  <%= number_to_currency(accessory.price) %>
  <img src="<%= accessory.image_url %>" alt="" class="accessory_image">
  <%= @cart.contents[accessory.id.to_s] %>
<% end %>
<h3>Subtotal</h3>
<% @accessories.each do |accessory| %>
  <p><%= number_to_currency(accessory.price) %> x <%= @cart.contents[accessory.id.to_s] %> =
  <%= number_to_currency(@cart.subtotal(accessory)) %></p>
<% end %>
<h3>Total</h3>
Total: <%= number_to_currency(@cart.total_price) %>
