<header>
  <div class="header-title">
    <h6>
      Stations Dashboard
  </div>
</header>
<main>
  <div class="card-container">
    <div class="dashboard-section">
      <div class="dashboard-info">
        <h1>There are <%= @stations.total_stations %> bike share stations</h1>
        <p>Average bikes per station: <%= @stations.average_bikes%></p>
        <p>The most bikes available at any station: <%= @stations.most_bikes %></p>
        <p>The fewest bikes available at any station: <%= @stations.fewest_bikes %></p>
        <p>The newest staton is <%= @stations.newest_station.name %> - Installed: <%= format_date(@stations.newest_station.installation_date) %></p>
        <p>The oldest staton is <%= @stations.oldest_station.name %> - Installed: <%= format_date(@stations.oldest_station.installation_date) %></p>
      </div>
      <div class="dashboard-info">
        <h1>The station(s) with the most bikes available:</h1>
          <ul>
            <% @stations.most_station.each do |s| %>
              <li><%= s.name %> (<%= s.dock_count %>)</li>
            <% end %>
          </ul>
      </div>
      <div class="dashboard-info">
        <h1>The station(s) with the fewest bikes available:</h1>
          <ul>
            <% @stations.fewest_station.each do |s| %>
              <li><%= s.name %> (<%= s.dock_count %>)</li>
            <% end %>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>
