<header>
  <div class="header-title">
    <h6>
      Admin Dashboard
    <h6>
  </div>
</header>

<main>
  <div class="card-container">
    <div class="card-info">
      <h1><%= @user.username %></h1>
      <!-- <h3>Bikes: </h3><p><%= @user.username %></p> -->
      <h3>email: </h3><p><%= @user.email %></p>
    </div>
  </div>
  <div>
    <p>Paid: <%= @orders.status_total('paid') %></p>
    <p>Ordered: <%= @orders.status_total('ordered') %></p>
    <p>Cancelled: <%= @orders.status_total('cancelled') %></p>
    <p>Completed: <%= @orders.status_total('completed') %></p>
  </div>
  <table class="table table-striped table-hover">
    <tr>
      <th>Order Number</th>
      <th>Username</th>
      <th>Purchase Date</th>
      <th>Status</th>
    </tr>
    <tr>
      <% @orders.each do |order| %>
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= order.user.username %></td>
        <td><%= order.created_at %></td>
        <td><%= order.status %></td>
      <% end %>
    </tr>
  </table>
</main>
