<header>
  <div class="header-title">
    <h6>
      Admin Dashboard
    <h6>
  </div>
</header>

<main>
  <div class="card-container">
    <div class="card-info">
      <h1><%= @user.username %></h1>
      <!-- <h3>Bikes: </h3><p><%= @user.username %></p> -->
      <h3>email: </h3><p><%= @user.email %></p>
    </div>
  </div>
  <table>
    <tr>
      <th>Paid: <%= @orders.status_total('paid') %></th>
      <th>Ordered: <%= @orders.status_total('ordered') %></th>
      <th>Cancelled: <%= @orders.status_total('cancelled') %></th>
      <th>Completed: <%= @orders.status_total('completed') %></th>
    </tr>
    <tr>
      <th>Order Number</th>
      <th>Username</th>
      <th>Purchase Date</th>
      <th>Status</th>
    </tr>
    <tr>
      <% @orders.each do |order| %>
        <td><%= order.id %></td>
        <td><%= order.user.username %></td>
        <td><%= order.created_at %></td>
        <td><%= order.status %></td>
      <% end %>
    </tr>
  </table>
</main>
