<header>
  <div class="header-title">
    <h6>
      Admin Dashboard
    <h6>
  </div>
</header>

<<<<<<< HEAD
<main>
  <div class="station_show">
    <h1><%= @user.username %></h1>
    <!-- <h3>Bikes: </h3><p><%= @user.username %></p> -->
    <h3>email: </h3><p><%= @user.email %></p>
  </div>
</main>

<%= link_to "Logout", logout_path %>
=======
<%= link_to "Logout", '/dashboard' %>
>>>>>>> Add authorization tests for admin login. Add admin namespace to routes, with admin/user#show sub-resource. Update sessions controller to redirect admin to admin_dashboard_path. Add Admin::UsersController and admin/users#show view.
