<nav class="navbar navbar-expand navbar-dark">
  <%= link_to "Bike Share", admin_dashboard_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="nav_content">
        <div class="direct-links">
          <li class="nav-item">
            <%= link_to "Bike Shop", bike_shop_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Conditions", conditions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Trips", trips_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Stations", stations_path, class: "nav-link" %>
          </li>
        </div>

        <div class="dropdowns">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              New
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Station", new_admin_station_path, class: "dropdown-item" %>
              <%= link_to "Condition", new_admin_condition_path, class: "dropdown-item" %>
              <%= link_to "Trip", new_admin_trip_path, class: "dropdown-item" %>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Logged in as Admin User: <%= current_user.username %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", admin_dashboard_path, class: "dropdown-item" %>
            </div>
          </li>
          <li><%= link_to "Logout", logout_path, class: "nav-link" %></li>
          <li class="nav-item active">
            <a class="nav-link cart" href="/cart"><i class="fas fa-shopping-cart"></i> (<%= @cart.total_item_count %>) <span class="sr-only">(current)</span></a>
          </li>
        </div>
      </div>
    </ul>
  </div>
</nav>
